<div>
  <h1>Incidentes</h1>
  <!-- Incidence List -->
  <div class="incidence-list">
    <!-- Incidence Item -->
  <ng-container>Hola Mundo</ng-container>


  <div class="incidence-item" *ngFor="let incidence of incidences">
    <p>{{ incidence.title }}</p>
    <p>Personas espectando: {{ incidence.watchers }}</p>
    <p>{{ incidence.shortDescription }}</p>
    <p>{{ incidence.longDescription }}</p>
    <a [routerLink]="[incidence.incidenceId]">Obtener más información</a>
  </div>
  </div>
</div>
